@{
    ViewData["Title"] = "Error 404 - Page Not Found";
}

<div class="max-w-md m-auto px-3">
    <h2 class="text-grey-darker uppercase tracking-wide text-center">@ViewData["Title"]</h2>
    <p class="mt-5 text-grey-darker">You are not supposed to see this page. Perhaps start from the <a asp-controller="Home" asp-action="Index" class="hover:underline no-underline text-blue-dark">homepage</a>?</p>
</div>